# Dependencies
node_modules/
/.pnp
.pnp.js

# Build outputs
dist/
.next/
out/
build/

# Vercel
.vercel

# Environment variables
.env
.env.*
.env*.local
!.env.example

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/

# OS / Editor
.DS_Store
*.pem
*.log

